* {
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(300px 1fr));
  gap: 1rem;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: normal;
  margin-bottom: 1rem;
}
